apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "todo-chart.fullname" . }}-frontend
spec:
  replicas: {{ .Values.replicaCount.frontend }}
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: frontend
        image: {{ .Values.images.frontend }}
        envFrom:
        - configMapRef:
            name: {{ include "todo-chart.fullname" . }}-config
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
